.oe-app {
    height: 100%;

    .oe-header-box {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 30px;

        .oe-header-btnmenu {
            margin-left: 18px;
            margin-right: 12px;
        }

        .oe-header {
            min-width: ~"calc(100% - 44px)";
        }
    }

    .oe-content-box {
        margin: 18px 12px;
        padding: 12px;
        min-height: 280px;
    }

    // .oe-section-body {
    //     height: ~"calc(100vh - 80px)";
    //     display: flex;
    //     flex: 1;

    //     .oe-menu {
    //         width: 220px;
    //         height: 100%;
    //         background-color: #888;
    //     }

    //     .oe-content {
    //         width: ~"calc(100% - 220px)";
    //         background-color: #bbb;
    //     }

    // }

}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}